# Entorno virtual
venv/
.venv/
env/

# Variables sensibles
.env

# Archivos Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Base de datos local 
*.db

# Archivos temporales
*.tmp

# Gemini
.gemini/

# Compilacion y Empaquetado (PyInstaller / Flet pack)
build/
dist/
*.spec

# Archivos de salida (PDFs generados)
out/
*.pdf